<div class="error-page">
  <h2 class="headline text-yellow"> o_O</h2>
  <div class="error-content">
    <h3><i class="fa fa-warning text-yellow"></i> No cookbooks</h3>

    <p>
      Look like you didn't add any cookbooks to this change set.
    </p>
    <p>
      To add cookbook to this changeset, please run following commands:
    </p>
    <p>
<pre>
redguide pull CHANGESET
cd CHANGESET/
redguide add COOKBOOK
</pre>
    </p>
    <p class="text-muted">
      More details can be found in <a href="#">documentation</a>.
    </p>

  </div>
  <!-- /.error-content -->
</div>