<div class="row">
  <div class="col-xs-12">
    <div class="box">

      <div class="box-header">
        <h3 class="box-title">Project configs</h3>
      </div>

      <div class="box-body">
        <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd><%= @project_config.name %></dd>

              <dt>Content</dt>
              <dd><%= @project_config.content %></dd>

        </dl>
      </div>
      <div class="box-footer">
        <%= link_to 'Back', project_project_configs_path, class: 'btn btn-default' %>
        <%= link_to 'Edit', edit_project_project_config_path(@project, @project_config), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

