<%= render partial: 'changesets/author_details', locals: {changeset: @changeset} %>

<%= render partial: 'changesets/cookbook_build/cookbooks', locals: {cookbooks: @changeset.cookbook_builds, project: @project, changeset: @changeset} %>

<div id="build-details">

</div>