/*
 *= require back/font-awesome/font-awesome.min
 *= require back/pace/pace.min
 *= require back/ionicons/ionicons.min
 *= require back/bootstrap/bootstrap.min
 *= require back/bootstrap-tagsinput/bootstrap-tagsinput
 *= require back/datatables/dataTables.bootstrap.css
 *= require back/AdminLTE
 *= require back/skins/skin-blue
 *= require_self
 */

#console pre {
    background-color: #101010;
    color: #DDDDDD;
}

dd {
    padding-top: 3px;
    padding-bottom: 2px;
}

dt {
    padding-top: 3px;
    padding-bottom: 2px;
}

textarea.code {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}